[submodule "S5fork"]
	path = S5fork
	url = https://github.com/stevenabreu7/S5.git
	branch = main
[submodule "aqt"]
	path = aqt
	url = https://github.com/stevenabreu7/aqt.git
	branch = main
[submodule "dysts"]
	path = dysts
	url = git@github.com:jegp/dysts
